{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'x/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'x/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="logout-icon">
            <i class="fas fa-sign-out-alt"></i>
        </button>
    </form>
    <a href="" class="password-icon" title="password-change">
        <i class="fa-solid fa-key"></i>
    </a>
    {% block content %}{% endblock %} 
    <script src="{% static 'x/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'x/fontawesome/js/all.min.js' %}"></script>
    <script src="{% static 'x/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/base.js' %}"></script>
    <script src="{% static 'javascript/loading.js' %}"></script>
    {% block script %}
    {% endblock %}
    <div class="modal fade" id="passwordChangeModal" tabindex="-1" aria-labelledby="passwordChangeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="passwordChangeModalLabel">Alterar Senha</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <form id="passwordChangeForm" action="{% url 'change_password' %}" method="post">
                    <div class="modal-body">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Nova Senha" required>
                            </div>
                            <div class="mb-3">
                                <label for="passwordStrength" class="form-label">Força da Senha:</label>
                                <div id="passwordStrength" class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confime a Nova Senha" required>
                            </div>
                            <input type="hidden" name="action" value="changepass">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" form="passwordChangeForm" class="btn btn-primary">Salvar Senha</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>